p {
    color: rgb(84, 230, 181);
}
/*
using class selector --this can be used my multple tags 
*/
.change-red {
    color: rgb(231, 22, 64);
}

/* using ID  only once in a single html file */

#water {
    color:aqua;
}

/* css using attribute 
*/
p[draggable="true"] {
    color: blueviolet;
}
img {
    height: 300px;
    width: 300px;
}